body{
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    background-color: #222222;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    background-color: #333333;

    gap: 40px;
    padding: 60px;
    max-width: 1000px;

    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
}

.hero > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-right: 40px;
}

.hero img {
    width: 400px;
    height: 125px;
    
    object-fit: contain;
    margin-bottom: 30px;
}

.hero h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}

.hero small { color: #999999; }

.login-form {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.login-form label {
    font-size: 16px;
    color: white;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 15px;

    background-color: #222222;
    border: 1px solid #555555;
    border-radius: 5px;

    color: white;

    font-size: 16px;
    font-family: inherit;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    outline: none;
    border-color: #159922;
}

.login-form > div {
    display: flex;
    align-items: center;

    gap: 10px;
}

.login-form > div p {
    margin: 0;
    line-height: 24px;
}

.login-form button[type="submit"] {
    align-self: flex-start;
    
    padding: 15px 40px;
    margin-top: 10px;

    background-color: #159922;
    color: white;

    border: none;
    border-radius: 5px;

    font-size: 18px;
    
    cursor: pointer;

    transition: background-color 0.3s;
}

.login-form button[type="submit"]:hover { background-color: #0f6c18; }

.switch {
    position: relative;
    display: inline-block;

    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #555555;
    border-radius: 24px;
    transition: 0.4s;
    
    cursor: pointer;
}

.slider:before {
    position: absolute;
    content: "";

    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;

    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider { background-color: #159922; }

input:checked + .slider:before { transform: translateX(26px); }